# Copy this file to `.env` and customize as needed.

# Your AWS account details.
AWS_REGION=
AWS_ACCOUNT_ID=

# Image tag to deploy (usually the HEAD commit hash)
# If unset: export IMAGE_TAG=$(git rev-parse HEAD)
IMAGE_TAG=