# VPC
MAX_AZS=2
NAT_INSTANCE_TYPE=t4g.nano

# RDS
DB_INSTANCE_TYPE=t3.micro
DB_ALLOCATED_STORAGE=20
DB_MAX_ALLOCATED_STORAGE=100

# API (ECS Fargate)
API_CPU=256
API_MEMORY_MIB=512
API_DESIRED_COUNT=1

# Web (ECS Fargate)
WEB_CPU=256
WEB_MEMORY_MIB=512
WEB_DESIRED_COUNT=1
