# Copy this file to `.devcontainer/.env` and customize as needed.
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
# SSO_SESSION: 任意の名前（例: my-company, project-name）
SSO_SESSION=
SSO_START_URL=
SSO_REGION=
SSO_ACCOUNT_ID=
SSO_ROLE_NAME=
